.footer {
    &__container--first{
        @include adaptiv-value('padding-top', 100, 40, 1);
        @include adaptiv-value('margin-top', 100, 40, 1);
        border-top: 1px solid $linecolor;
    }
    &__text {
        text-align: center;
        @include adaptiv-value('padding-top', 24, 15, 1);
        @include adaptiv-value('padding-bottom', 24, 15, 1);
        background: #DFE3F8;
        h6 {
            margin: 0 auto;
            max-width: 1120px;
            line-height: 156%;
            font-weight: bold;
            @include adaptiv-value('font-size', 16, 14, 1);
        }
        p{
            margin: 0 auto;
            color: #000;
            max-width: 1120px;
            line-height: 156%;
            @include adaptiv-value('font-size', 16, 14, 1);
            strong{
                margin-right: 5px;
            }
        }
    }
    &__partners {
        margin: 16px 0;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        &-body{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            @media (max-width: $tablet) {
                gap: 10px;
                img{
                    width: 95%;
                }
            }
            @media (max-width: $mobile) {
                min-width: 750px;
                img{
                    width: 100%;
                }
            }
            a{
                display: flex;
                justify-content: center;
            }
            img{
                width: 75%;
                margin: 0 auto;
            }
        }
    }
    &__partners::-webkit-scrollbar {
        display: none;
    }
}