<footer class="footer">
    <div class="footer__container--first"></div>
    <div class="footer__text">
        <h6>
            Acest proiect este finanțat de Uniunea Europeană și este cofinanțat de Suedia prin intermediul Fundației
            Est-Europene.
        </h6>
    </div>

    <div class="footer__container">
        <div class="footer__partners">
            <img src="@img/partner1.png" alt="partner">
            <img src="@img/partner2.png" alt="partner">
            <img src="@img/partner3.png" alt="partner">
            <img src="@img/partner4.png" alt="partner">
            <img src="@img/partner5.png" alt="partner">
            <img src="@img/partner6.png" alt="partner">
            <img src="@img/partner7.png" alt="partner">
        </div>
    </div>

    <div class="footer__text">
        <h6>Parteneri proiectului GoYouth+</h6>
    </div>

    <div class="footer__container">
        <div class="footer__partners">
            <img src="@img/partner1.png" alt="partner">
            <img src="@img/partner2.png" alt="partner">
            <img src="@img/partner3.png" alt="partner">
            <img src="@img/partner4.png" alt="partner">
            <img src="@img/partner5.png" alt="partner">
            <img src="@img/partner6.png" alt="partner">
            <img src="@img/partner7.png" alt="partner">
        </div>
    </div>

    <div class="footer__text">
        <h6>
            DISCLAIMER: Această publicație a fost produsă cu suportul financiar al Uniunii Europene. Conținutul acesteia
            aparține AHCCJ care implementează proiectul GoYouth+ şi nu reflectă neapărat punctul de vedere al Uniunii
            Europene
        </h6>
    </div>
</footer>
