<aside class="form-sidebar">
    <img class="form-sidebar__logo" src="@img/logo.svg" alt="logo">

    <div class="form-sidebar__contacts">
        <p>
            <img src="@img/icons/mail.svg" alt="mail"> goyouthplus@gmail.com, www.henricapitant.md
        </p>
        <p>
            <img src="@img/icons/phone.svg" alt="phone"> +373 789 51 154
        </p>
        <p>
            <img src="@img/icons/pin.svg" alt="pin"> mun.Chișinău, str.M.Kogâlniceanu 68/1
        </p>
    </div>

    <div class="form-sidebar__social">
        <a href="#">
            <img src="@img/icons/youtube.svg" alt="youtube">
        </a>
        <a href="#">
            <img src="@img/icons/linkedin.svg" alt="linkedin">
        </a>
        <a href="#">
            <img src="@img/icons/facebook.svg" alt="facebook">
        </a>
    </div>
</aside>