<header class="header">
    <div class="header__container">
        <div class="header__top top-header">
            <div class="top-header__logo">
                <a href="/"><img src="@img/logo.svg" alt="logo"></a>
            </div>
            <div class="top-header__text">
                Antreprenoriatul social și tinerii din Moldova pentru o societate mai inclusivă, durabilă și inovativă
            </div>
            <div class="top-header__logo top-header__logo--ue">
                <a href="#"><img src="@img/ue-logo.png" alt="ue logo"></a>
            </div>

            <button type="button" class="burger">
                <span></span>
            </button>
        </div>
    </div>

    <div class="header-menu__body">
        <div class="header-menu__container">
            <div class="header__menu menu-header">
                <p class="menu-header__text">
                    Antreprenoriatul social și tinerii din Moldova pentru o societate mai inclusivă, durabilă și
                    inovativă
                </p>
                <nav class="menu-header__nav">
                    <ul class="menu-header__list">
                        <li class="menu-header__item active">
                            <a href="/">Acasa</a>
                        </li>
                        <li class="menu-header__item menu-header__item--submenu">
                            <span>
                                Despre
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.08785 4.83748C3.31565 4.60967 3.685 4.60967 3.9128 4.83748L7.00033 7.925L10.0878 4.83748C10.3157 4.60967 10.685 4.60967 10.9128 4.83748C11.1406 5.06529 11.1406 5.43463 10.9128 5.66244L7.41281 9.16244C7.185 9.39024 6.81565 9.39024 6.58785 9.16244L3.08785 5.66244C2.86004 5.43463 2.86004 5.06529 3.08785 4.83748Z"
                                        fill="#1D2939" />
                                </svg>
                            </span>
                            <ul class="menu-header__submenu menu-submenu">
                                <li class="menu-submenu__item active">
                                    <a href="../about.html">Despre proiect</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="../team.html">Echipa noastră</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-header__item menu-header__item--submenu">
                            <span>
                                Activități
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.08785 4.83748C3.31565 4.60967 3.685 4.60967 3.9128 4.83748L7.00033 7.925L10.0878 4.83748C10.3157 4.60967 10.685 4.60967 10.9128 4.83748C11.1406 5.06529 11.1406 5.43463 10.9128 5.66244L7.41281 9.16244C7.185 9.39024 6.81565 9.39024 6.58785 9.16244L3.08785 5.66244C2.86004 5.43463 2.86004 5.06529 3.08785 4.83748Z"
                                        fill="#1D2939" />
                                </svg>
                            </span>
                            <ul class="menu-header__submenu menu-submenu">
                                <li class="menu-submenu__item">
                                    <a href="../category-column.html">Școli de instruire</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#">Vizite de studiu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-header__item menu-header__item--submenu">
                            <span>
                                Publicații
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.08785 4.83748C3.31565 4.60967 3.685 4.60967 3.9128 4.83748L7.00033 7.925L10.0878 4.83748C10.3157 4.60967 10.685 4.60967 10.9128 4.83748C11.1406 5.06529 11.1406 5.43463 10.9128 5.66244L7.41281 9.16244C7.185 9.39024 6.81565 9.39024 6.58785 9.16244L3.08785 5.66244C2.86004 5.43463 2.86004 5.06529 3.08785 4.83748Z"
                                        fill="#1D2939" />
                                </svg>
                            </span>
                            <ul class="menu-header__submenu menu-submenu">
                                <li class="menu-submenu__item">
                                    <a href="#">Comunicate</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#">Broșuri</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="../category-row.html">E-CARD</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="../prezentari.html">Prezentări PPoint</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-header__item menu-header__item--submenu">
                            <span>
                                Consultatie
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.08785 4.83748C3.31565 4.60967 3.685 4.60967 3.9128 4.83748L7.00033 7.925L10.0878 4.83748C10.3157 4.60967 10.685 4.60967 10.9128 4.83748C11.1406 5.06529 11.1406 5.43463 10.9128 5.66244L7.41281 9.16244C7.185 9.39024 6.81565 9.39024 6.58785 9.16244L3.08785 5.66244C2.86004 5.43463 2.86004 5.06529 3.08785 4.83748Z"
                                        fill="#1D2939" />
                                </svg>
                            </span>
                            <ul class="menu-header__submenu menu-submenu">
                                <li class="menu-submenu__item">
                                    <a href="../consulting.html">Ghișeurile teritoriale</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="../consulting.html">Centru online de consultanță</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-header__item">
                            <a href="#">Granturi</a>
                        </li>
                        <li class="menu-header__item">
                            <a href="../contact.html">Contacte</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
