<aside class="sidebar">
    <div class="sidebar__header">
        <h5>GoYouth+</h5>
    </div>
    <div class="sidebar__body">
        <p style="background: url('@img/logo-bg.png') 50% 50% / cover no-repeat;">
            Proiectul GoYouth+ are drept scop dezvoltarea capacităților tinerilor NEET din zonele rurale prin lansarea
            și dezvoltarea întreprinderilor sociale, beneficiind de experiența antreprenorială practică în domeniu și
            prin creșterea încrederii în administrația
            publică locală prin promovarea instrumentelor juridice și facilitarea dezvoltării antreprenoriatului social.
            Grupul țintă al proiectului GoYouth+ sunt tinerii NEET, și anume categoria de tineri care nu sunt încadrați
            profesional și nu urmează
            niciun program educațional sau de formare
        </p>
        <a href="#"><img src="@img/henri.png" alt="henri"></a>
    </div>
</aside>
